
#GatsbyBody.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/* ---- WordPress fixes for styling that comes from php ---- */

#GatsbyBody:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: #cd2653;
}

.site-description,
#GatsbyBody:not(.overlay-header) .toggle-inner .toggle-text,
.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.powered-by-wordpress,
.to-the-top,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
  color: #6d6d6d;
}
